location / {
    root {{ nginx_mirror_docroot }};
}

location /stat {
    alias /var/www/stat;
    allow 127.0.0.1;
    allow ::1;
    # allow others to look at stats
    # allow <my_ip>
    deny all;
}
